<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Factiva</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=Merriweather+Sans:wght@800&display=swap" rel="stylesheet">
</head>
<body>
    
    <head>
        <div class="header">
            <a class="logo">Factiva</a>
            <div class="header-right">
                <a href="/">Home</a>
                <a class="active" href="/about">About</a>
            </div>
          </div>
    </head>
    <body class="content">
        <div class="valuation">
            <h1>Factiva Assistant</h1>
            <h2>Factiva is a business asistant that help you to manage your business, giving advice for your future plan, and asses your business performance.</h2>
            <div class="parameter">
                <h2>Factiva Evaluator</h1>
                <h3>Factiva Evaluator is an artificial intelligence that provides an evaluation of the financial report. The researcher will use data from the company’s financial reports from developed and developing countries to increase the data variants. Continuously, those data will be converted to 10 financial parameters. After obtaining the financial parameter, Factiva Evaluator will provide several recommendations and suggestions for improving the finances based on the calculated financial parameters.</h2>
            </div>
            
            <div class="parameter">
                <h2>Factiva Consultant</h1>
                <h3>Factiva Consultant is chatbot for entrepreneurs to give them insights and solutions for their business operations, also advising them for several real case studies to help them out by using Natural Language Processing.</h2>
            </div>
        </div>
        
    </body>
</body>
</html>