<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Factiva</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=Merriweather+Sans:wght@800&display=swap" rel="stylesheet">
</head>
<body>
    <head>
        <div class="header">
            <a class="logo">Factiva Evaluator</a>
            <div class="header-right">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a class="active" href="/chatbot">Go To Consultant</a>
            </div>
          </div>
    </head>
    <body>
        <div class="container">
            <form method="POST", action="{{url_for('prediction')}}">
                <div class="row">
                    <div class="col-25">
                    <label for="netsales" >Sales :</label>
                    </div>
                    <div class="col-75">
                    <input type="text" name="netsales" name="firstname" placeholder="Ammount of Total Sales" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                    <label for="totalasset">Asset :</label>
                    </div>
                    <div class="col-75">
                    <input type="text" name="totalasset" name="lastname" placeholder="Ammount of Total Asset" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                    <label for="equity">Equity :</label>
                    </div>
                    <div class="col-75">
                    <input type="text" name="equity" name="lastname" placeholder="Ammount of Equity" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                    <label for="lname">Free Cash Flow :</label>
                    </div>
                    <div class="col-75">
                    <input type="text" name="fcf" name="lastname" placeholder="Ammount of Free Cash Flow" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                    <label for="lname">Liability/Debt :</label>
                    </div>
                    <div class="col-75">
                    <input type="text" name="liability" name="lastname" placeholder="Ammount of Liability" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                    <label for="lname">Net Income :</label>
                    </div>
                    <div class="col-75">
                    <input type="text" name="netincome" name="lastname" placeholder="Ammount of Net Income" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                    <label for="lname">Inventory :</label>
                    </div>
                    <div class="col-75">
                    <input type="text" name="inventory" name="lastname" placeholder="Ammount of Inventory" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                    <label for="lname">Revenue :</label>
                    </div>
                    <div class="col-75">
                    <input type="text" name="revenue" name="lastname" placeholder="Ammount of Revenue" required>
                    </div>
                </div>
                <div class="row">
                    <input class="wrap" type="submit" value="Evaluate!">
                </div>
            </form>
          </div>
    </body>
</body>
</html>