<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=Merriweather+Sans:wght@800&family=Montserrat+Subrayada:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Factiva</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='index.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=Merriweather+Sans:wght@800&display=swap" rel="stylesheet">
</head>
<body>
    <head>
        <div class="header">
            <a class="logo">Factiva</a>
            <div class="header-right">
                <a class="active" href="/">Home</a>
                <a href="/about">About</a>
            </div>
          </div>
    </head>
    <body>
        <div class="home">
            <h0>Welcome to Factiva!</h0>
            <hr class="border">
            <h2>Factiva assistant is a virtual assistant that helps you analize, and assess your business performance.</h2>
            <div>
                <button> <a href="/evaluator">Factiva Evaluator</a></button>
                <button> <a href="/chatbot">Factiva Consultant</a></button>
            </div>
            
        </div>
    </body>
</body>
</html>